<footer class="footer-web">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <div class="contenedor-fot-prin">
        <div class="fot-sup">
            <div class="logo-ba-fot">
                <a href="http://www.buenosaires.gob.ar/" target="blank">
                    <img src="/assets/imagenes/ba_vamosba_blanco.webp" alt="Logo Vamos Buenos Aires">
                </a>
            </div>
            <div class="fot-sup-cont">
                <div class="fot-cont-sup-titulos">
                    <div class="fot-cont-titulos">
                        <p>Teléfonos útiles</p>
                        <a href="https://www.buenosaires.gob.ar/laciudad/telefonosutiles" target="blank">
                            <p>Ver todos los teléfonos</p>
                        </a>
                    </div>
                    <div class="fot-cont-tel">
                        <div>
                            <a href="tel:102" target="blank"><span>102</span></a>
                            <p>Niñez y Adolescencia</p>
                        </div>
                        <div>
                            <a href="tel:103" target="blank"><span>103</span></a>
                            <p>Emergencias</p>
                        </div>
                        <div>
                            <a href="tel:107" target="blank"><span>107</span></a>
                            <p>SAME</p>
                        </div>
                        <div>
                            <a href="tel:911" target="blank"><span>911</span></a>
                            <p>Policía</p>
                        </div>
                        <div>
                            <a href="tel:147" target="blank"><span>147</span></a>
                            <p>Atención ciudadana</p>
                        </div>
                        <div>
                            <a href="tel:144" target="blank"><span>144</span></a>
                            <p>Violencia de género</p>
                        </div>
                    </div>
                </div>
                <div class="fot-cont-inf">
                    <div class="fot-cont-inf-titulos-redes">
                        <p>Redes de la Ciudad</p>
                    </div>
                    <div class="fot-cont-inf-redes">
                        <a href="https://www.facebook.com/GCBA/" target="blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#fff" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/>
                            </svg>
                        </a>
                        <a href="https://twitter.com/gcba" target="blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 4l11.733 16H20L8.267 4zm0 16l6.768-6.768m2.46-2.46L20 4"/>
                            </svg>
                        </a>
                        <a href="https://www.instagram.com/buenosaires/" target="blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M4 8a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H8a4 4 0 0 1-4-4z"/><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0-6 0m7.5-4.5v.01"/></g>
                            </svg>
                        </a>
                        <a href="https://www.youtube.com/user/GCBA" target="blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M2 8a4 4 0 0 1 4-4h12a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4z"/><path d="m10 9l5 3l-5 3z"/></g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fot-inf">
            <div class="fot-inf-div-logo">
                <a href="http://www.buenosaires.gob.ar/" target="blank">
                </a>
                <p>Los contenidos de buenosaires.gob.ar están licenciados bajo Creative Commons Reconocimiento
                    2.5
                    Argentina License.</p>
            </div>
            <div class="fot-inf-div-contenido-iz">
                <a href="https://boletinoficial.buenosaires.gob.ar/" target="blank"><span>Boletín Oficial</span></a>
                <a href="https://buenosaires.gob.ar/gcaba_historico/terminos-y-condiciones" target="blank"><span>Términos y condiciones</span></a>
                <a href="https://www.buenosaires.gob.ar/privacidad" target="blank"><span>Política de Privacidad</span></a>
                <a href="https://www.buenosaires.gob.ar/oficiosjudiciales" target="blank"><span>Oficios judiciales</span></a>
                <form th:action="@{/logout}" method="POST" style="display: none;" id="formDeslogin">
                    <input type="submit" value="salir" id="salir-form">
                </form>

            </div>
        </div>
    </div>
</footer>


<footer class="footer-mobile">
<div class="footer-img-vamosba">
    <img src="../../../assets/imagenes/ba_vamosba_blanco.webp" alt="Logo Vamos Buenos Aires">
</div>

<div class="footer-telefonos-utiles">
    <p>Teléfonos Utiles</p>
    <div class="footer-telefonos-utiles-numeros">
        <div class="footer-tel-item-num"> <a href="tel:102"><span>102</span></a>
            <p>Niñez y Adolescencia</p>
        </div>
        <div class="footer-tel-item-num"> <a href="tel:103"><span>103</span></a>
            <p>Emergencias</p>
        </div>
        <div class="footer-tel-item-num"> <a href="tel:107"><span>107</span></a>
            <p>SAME</p>
        </div>
        <div class="footer-tel-item-num"> <a href="tel:911"><span>911</span></a>
            <p>Policía</p>
        </div>
        <div class="footer-tel-item-num"> <a href="tel:147"><span>147</span></a>
            <p>Atención ciudadana</p>
        </div>
        <div class="footer-tel-item-num"> <a href="tel:144"><span>144</span></a>
            <p>Violencia de género</p>
        </div>
    </div>
</div>
<div class="footer-ver-todos-tel"> <a href="https://www.buenosaires.gob.ar/laciudad/telefonosutiles"><span>Ver todos los Teléfonos</span></a></div>
<div class="footer-redes">
    <p>Redes de la Ciudad</p>
    <div class="redes-iconos">
        <a href="https://www.facebook.com/GCBA/" target="blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="#fff" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/>
            </svg>
        </a>
        <a href="https://twitter.com/gcba" target="blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 4l11.733 16H20L8.267 4zm0 16l6.768-6.768m2.46-2.46L20 4"/>
            </svg>
        </a>
        <a href="https://www.instagram.com/buenosaires/" target="blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M4 8a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H8a4 4 0 0 1-4-4z"/><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0-6 0m7.5-4.5v.01"/></g>
            </svg>
        </a>
        <a href="https://www.youtube.com/user/GCBA" target="blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M2 8a4 4 0 0 1 4-4h12a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4z"/>
                <path d="m10 9l5 3l-5 3z"/></g>
            </svg>
        </a>
    </div>
</div>
<hr>
<div class="footer-legales">
    <p>Los contenidos de buenosaires.gob.ar están licenciados bajo Creative Commons Reconocimiento 2.5 Argentina License.</p>
    <div class="footer-legales-items">
        <a href="https://boletinoficial.buenosaires.gob.ar/"><span>Boletín Oficial</span></a>
        <a href="https://talentotech.bue.edu.ar/tyc"><span>Términos y condiciones</span></a>
        <a href="https://www.buenosaires.gob.ar/privacidad"><span>Política de Privacidad</span></a>
        <a href="https://www.buenosaires.gob.ar/oficiosjudiciales"><span>Oficios Judiciales</span></a>
    </div>
</div>
</footer>
